html, body {
    margin: 0;
    background-color: #3498db;
}

h1 {
	font-family: Open Sans;
    color: white;
}

#start {
	display: inline-block;
	color: white;
    font-family: Open Sans;
    font-size: 18px;
    font-style: bold;
}

p {
    font-family: Open Sans;
}