html, body {
    margin: 0;
    background-color: #3498db;
}

h1 {
	font-family: Open Sans;
}

#start {
	display: inline-block;
	border: 1px solid blue;
	background-color: red;
}

p {
    font-family: Open Sans;
}